.button {
  border: none;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-content: center;
  border-radius: 7px;
  background-color: #02080e;
  height: 52px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 23px;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.button:hover {
  background-color: #05111c;
}

.loadingState {
  border: none;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 7px;
  background-color: #103a64;
  height: 52px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 20px;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
